/* RESET */

@font-face {
  font-family: 'Hershey-Noailles-Times';
  /* Look for the font inside your Mac's Font Book directly */
  src: local('Hershey-Noailles-Times');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PAGE */



/* HEADER */

header {
    height: 100px;
    color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 80px;
    font-weight: bolder;
}

/* MENU AREA */

.menu-container {
    position: relative;
    width: 800px;
    height: 800px;

    margin: -50px auto 0;

    border-radius: 50%;
}

.footer {
  position: fixed;
  right: 15px;
  bottom: 15px;
  text-align: right;
  font-style: italic;
  font-size: 18px;
  color: white;
}

/* MENU ITEMS */

.menu-item {
    position: absolute;

    width: 140px;
    text-decoration: none;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform 0.3s;
}

.menu-item:hover {
    filter: opacity(50%) hue-rotate(180deg);
}

::selection {
  background-color: transparent;
  color: rgb(255, 236, 33);
}

.menu-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;

}

.menu-item span {
    margin-top: 10px;
    font-weight: bold;
}

/*
    INDIVIDUAL POSITIONS

    Change these values independently
    to move each item anywhere.
*/

.item1 { /* top */
    left: 325px;
    top: 80px;
}

.item2 { /* upper right */
    left: 510px;
    top: 230px;
}

.item3 { /* lower right */
    left: 440px;
    top: 435px;
}

.item4 { /* lower left */
    left: 210px;
    top: 435px;
}

.item5 { /* upper left */
    left: 140px;
    top: 230px;
}

body {
    font-family: 'Hershey-Noailles-Times';
    background-image: url("clem/clemsky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden; /* prevents scrolling */
}

.content {
    padding-top: 100px;
    width: 800px;
    margin: 20px auto 0;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 40px;
}

.back-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
    color: white;
    border-color: white;
}

.back-button:hover{
    color: rgb(156, 255, 255);
    border-color: rgb(156, 255, 255);
}

.live {
    width: 600px;
    margin: auto;
}

.show {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.mv :hover{
    filter: hue-rotate(150deg);
}

.mv{
    padding: 20px;
}

.EP :hover{
    filter: hue-rotate(180deg);
}

.EP{
    padding: 5px;
}