@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
  margin: 0;
  background-color: black; 
  display: flex;          
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#backButton {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;

  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "EB Garamond", serif;

  background: rgba(212, 229, 209, 0.478);
  padding: 8px 20px;
}

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 40vw;
  max-height: 40vh;
  object-fit: contain;
  cursor: pointer;
  transition: filter 0.3s ease;
}

#nextButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "EB Garamond", serif;

  background: rgba(212, 229, 209, 0.478);
  padding: 8px 20px;
}