@font-face {
  font-family: 'Hershey-Noailles-Futura';
  /* Look for the font inside your Mac's Font Book directly */
  src: local('Hershey-Noailles-Futura');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; 
  font-family: 'Hershey-Noailles-Futura';
  color: rgb(255, 255, 255);
  font-size: 32px;
  transition: background 0.5s ease;
  background-color: rgb(0, 0, 0);
}

body{
  cursor: none;
}

#trail-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Allows user to click through the trail */
    z-index: 9999; /* Keeps trail on top of other content */
}

.trail-dot {
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 0%;
    transform: translate(-50%, -50%); /* Centers the dot perfectly on the cursor */
    pointer-events: none;
    
    /* This animation runs once and lasts for 0.6 seconds */
    animation: fadeAndShrink 5s forwards ease-out;
}

/* The magic that makes it disappear */
@keyframes fadeAndShrink {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.1);
    }
}


.container {
  position: relative;
  height: 100vh;
}

.header {
  position: fixed;
  font-size: 40px;
  font-weight: bold;
  top: 5px;
  left: 220px;
  z-index: 10;
}

.menu {
  position: fixed;
  top: 200px;
  left: 90px;
  line-height: 40px;
  text-align: left;
}

#middle{
display: block;    
  margin-left: auto;    
  margin-right: auto; 
  width: 400px;
  height: auto;
}


.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 220px;
  right: 300px;

  overflow-y: auto;
  scrollbar-width: none;
   -ms-overflow-style: none;
  padding-top: 110px;   
  padding-right: 40px;
  padding-bottom: 40px;

  line-height: 28px;
}

.content::-webkit-scrollbar {
  display: none;
}


.footer {
  position: fixed;
  bottom: 8px;
  right: 40px;
  text-align: right;
}


.title {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
}

.underline {
  text-decoration: underline;
}

a:hover {
  background-color: transparent;
  color: rgb(230, 217, 143);
  text-decoration-color: rgb(230, 217, 143);
}

.video:hover{
  filter: opacity(40%);
  z-index: 2; 
  cursor: pointer;
}

.youtube-video{
  border: 1px solid #ffffff;
}

.youtube-video:hover{
  filter: opacity(30%);
  z-index: 2; 
}

img {
  width: 500px;
  max-width: 100%;
  height: auto;
  display: block;
}

.record:hover{
  filter:opacity(40%);
  cursor: pointer;
  z-index: 2;
}

video:not(#bg-video) {
  padding-top: 26px;
  width: 700px;
  max-width: 100%;
  height: auto;
  display: block;
}


::selection {
  background-color: transparent;
  color: rgb(87, 114, 120);
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -1;      /* behind everything */
  opacity: 0;       /* hidden initially */
  transition: opacity 0s;
}

#bg-video {
  position: fixed;
  inset: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;

  z-index: -1;

  opacity: 0;

  padding-top: 0;
  max-width: none;

  transition: opacity 0s ease;
}