

/* Reset + prevent whole page scrolling */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(52, 53, 71);
  font-size: 18px;
  transition: background 0.5s ease;
  background-color: rgb(248, 253, 255);;
}

/* Layout grid */
.container {
  position: relative;
  z-index: 1;
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr auto;
}

/* General spacing */
.container > div {
  padding: 10px;
  box-sizing: border-box;
}

/* Header */
.header {
  grid-area: header;
  text-align: center;
}

/* Menu */
.menu {
  grid-area: menu;
  margin-left: 80px;
  margin-top: 30px;
  line-height: 50px;
}

/* Content (SCROLLABLE AREA) */
.content {
  grid-area: content;
  overflow-y: auto;
  padding-right: 40px;
  line-height: 25px;
}

/* Footer */
.footer {
  grid-area: footer;
  text-align: right;
  padding-right: 40px;
  margin-right: 30px;
}

/* Typography */
.title {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 10px;
}

/* Links */
a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgb(52, 53, 71);
}

a:hover {
  color: rgb(163, 165, 194);
  text-decoration-color: rgb(163, 165, 194);
}

/* Image */
img {
  width: 400px;
  max-width: 100%;
  height: auto;
  display: block;
}

/* Selection */
::selection {
  background-color: rgb(248, 253, 255);
  color: rgb(38, 32, 221);
}